@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
$is_active: #40c78f;

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a, p, span, h1, h2, h3, label, button, input, table {
  font-family: 'Montserrat', sans-serif;
  color: #2f2f2f;
}

header {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
}

h1 {
  font-size: 1.75em;
  font-weight: 400;
  margin: 1em;
  color: #222;
}

h2 {
  font-size: 1em;
  font-weight: 200;
  margin: .5em;
  text-align: center;

  span {
    font-weight: 400;
  }
}

input {
  margin: 0 .25em;
  padding: .375rem .75rem;
  font-size: .75em;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    outline-color: $is_active;
  }
}

button {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: .85em;
  cursor: pointer;
  background: #40c78f;
  color: #fff;
  outline: none;
  &:hover {
    background-color: #32d893;
  }
}

button.light {
  background: #e8e8e8;
  color: #2a1a1a;
  &:hover {
    background-color: #e2e6ea;
  }
}


.breadcrumbs {
  padding: 0 4.5em;
  position: relative;
  height: 5em;

  .breadcrumbs_group {
    display: flex;
    position: relative;

    .breadcrumbs_step {
      width: 33.33%;
      text-align: center;
      position: relative;
      transition: .4s;
      cursor: pointer;

      .__number {
        background: #e4e1e1;
        color: transparent;
        width: 1.75em;
        height: 1.75em;
        display: inline-block;
        border-radius: 25px;
      }

      .__help {
        position: absolute;
        display: block;
        left: 50%;
        top: 3.25em;
        width: 100%;
        transform: translateX(-50%);
        font-size: .75em;
      }

      &.is-success .__number {
        background-color: $is_active;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3e%3cpath d='M 41.9375 8.625 C 41.273438 8.648438 40.664063 9 40.3125 9.5625 L 21.5 38.34375 L 9.3125 27.8125 C 8.789063 27.269531 8.003906 27.066406 7.28125 27.292969 C 6.5625 27.515625 6.027344 28.125 5.902344 28.867188 C 5.777344 29.613281 6.078125 30.363281 6.6875 30.8125 L 20.625 42.875 C 21.0625 43.246094 21.640625 43.410156 22.207031 43.328125 C 22.777344 43.242188 23.28125 42.917969 23.59375 42.4375 L 43.6875 11.75 C 44.117188 11.121094 44.152344 10.308594 43.78125 9.644531 C 43.410156 8.984375 42.695313 8.589844 41.9375 8.625 Z' fill='%23fff'%3e%3c/path%3e%3c/svg%3e");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 50%;
      }

      &.is-active .__number {
        background-color: $is_active;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3e%3cpath d='M 8 20 C 4.6875 20 2 22.6875 2 26 C 2 29.3125 4.6875 32 8 32 C 11.3125 32 14 29.3125 14 26 C 14 22.6875 11.3125 20 8 20 Z M 25 20 C 21.6875 20 19 22.6875 19 26 C 19 29.3125 21.6875 32 25 32 C 28.3125 32 31 29.3125 31 26 C 31 22.6875 28.3125 20 25 20 Z M 42 20 C 38.6875 20 36 22.6875 36 26 C 36 29.3125 38.6875 32 42 32 C 45.3125 32 48 29.3125 48 26 C 48 22.6875 45.3125 20 42 20 Z' fill='%23fff'%3e%3c/path%3e%3c/svg%3e");
      }
    }
  }

  .breadcrumbs_step:hover:before {
    background: rgba(0, 0, 0, 0.03);
    height: 5em;
    width: 5em;
  }

  .breadcrumbs_step:before {
    content: ' ';
    background: rgba(0, 0, 0, 0.06);
    height: 1em;
    width: 1em;
    position: absolute;
    z-index: 1;
    border-radius: 100px;
    transition: .4s;
    cursor:pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .breadcrumbs_step.is-active:before, .breadcrumbs_step.is-success:before  {
    z-index: -1;
  }



  .breadcrumbs_line {
    width: 100%;
    background: #e8e8e8;
    z-index: -99;
    height: 3px;
    top: -.9em;
    position: relative;
    border-radius: 100px;

    .breadcrumbs_line__is-active {
      height: 3px;
      width: 0;
      background: $is_active;
      z-index: 11;
      position: relative;
      transition: all .4s;
      border-radius: 100px;
    }
  }
}

section {
  display: none;
  &.is-active { display: block;}
}


.Initializ {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
  overflow: hidden;
  transition: .25s;
  max-height: 4em;
  opacity: 1;
  input {
    width: 12em;
  }
  &.is-hide {
    margin-bottom: -.25em;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }

  .Initializ_content {
    margin: .5em auto;
    display: table;
    text-align: center;
  }

  button {
    margin: .5em auto;
  }
}


.Forms {
  text-align: center;
  margin-bottom: 2em;

  .__header {
    display: flex;
    padding: 0 5em;
    margin-top: 2em;
    font-size: .85em;

    .__header_item {
      width: 50%;
      margin-bottom: -1em;
      padding-bottom: 1em;
      &:first-child {
        border-right: 1px solid #eee;
      }
    }


  }

  .Forms_content {
    padding: 0 4em;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    max-height: calc(100vh - 24.25em);
    overflow: auto;

    input {
      width: 20em;
    }

    button {
      color: transparent;
      font-size: .75em;
      position: absolute;
      z-index: 999;
      left: calc(50% + 8.5em);
      top: .6em;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3e%3cpath d='M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z'%3e%3c/path%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-color: transparent;
      padding: .3em;
      opacity: .35;
      transition: .35s;
      &:hover {
        opacity: 1;
      }
    }

    .__item {
      width: 50%;
      &> div {
        margin: .25em;
        position: relative;
      }
      &:first-child {
        border-right: 1px solid #eee;
        height: auto;
      }
    }

  }
}

.footer_info {
  margin: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 1.25em;
  span {
    color: #656464;
    font-size: .65em;
  }
}


.initializ_table {
  max-height: calc(100vh - 16em);
  overflow: auto;
  margin: 1em 0 2em 0;
  text-align: center;

  .__item {
    &> div {
      &:first-child {
        width: 100%;
        border-bottom: 1px solid #eee;
      }
    }
  }
}


table {
  margin: 1em auto;
  max-width: calc(100vw - 8em);
  width: auto;

  th, td {
    font-size: .85em;
    text-align: left;
    text-transform: capitalize;
    color: #3c3b3b;
    font-weight: 400;
    position: relative;
  }
  th {
    background: #d2d2d2;
    padding: .55em;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-size: .75em;
  }

  input {
    width: 80%;
    text-align: center;
    margin: 0;
  }

  input[disabled] {
    background: #efefef;
  }
  input[value="1"][disabled] {
    background: #e4e4e4 !important;
  }

  td[data-weight] {
    background: #e6e6e6;
    padding: .2em;
    border-radius: 4px;
    border: 1px solid #eee;
  }

  tr:first-child th:first-child {
    font-weight: 700;
  }
}

.button_group {
  margin: 0 auto 2em;
  position: relative;
  text-align: center;
}

.rezult_table table th {
  font-weight: 700;
  padding: .55em 2em;
  margin-right: 2em;
  background: #e0e0e0;
}

.rezult_table table td {
  padding: .65em 1em;
}

.empty, .error {
  font-weight: 200;
  z-index: 99;
  position: absolute;
  width: calc(100% - 10em);
  line-height: 1.75em;
  height: 100%;
  background: #f9f9f9;
  top: 10em;
  padding: 6em 5em 0;
  text-align: center;
  transition: .15s;
  display: none;

  svg {
    width: 5em;
    display: block;
    margin: 0em auto 1em;
  }

  b {
    font-weight: 500;
    display: block;
  }

  button {
    display: block;
    margin: 1em auto;
  }
}


.error {
  display: block;
  opacity: 0;
  z-index: -1;
  transition: .25s;

  &.is-active {
    opacity: 1;
    z-index: 999999;
    padding-top: 5em;
  }
}


/// loader

.main {
  opacity: 1;
  &.is-active {
    opacity: 1 !important;
  }
}

.spin-wrapper {
  z-index: 99999;
  &.is-delete {
    opacity: 0 !important;
    z-index: -99999;
  }
}

.spin-wrapper{
  position: absolute;
  top: 0;
  background: #ffffff;
  width: 100%;
  height: 100vh;

  .spinner{
    position: absolute;
    height: 60px;
    width: 60px;
    border: 4px solid transparent;
    border-top-color: #32d893;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    &:before, &:after{
      content:'';
      position: absolute;
      border: 4px solid transparent;
      border-radius: 50%;
    }

    &:before{
      border-top-color: $is_active;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 3s linear infinite;
    }

    &:after{
      border-top-color: $is_active;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}



